<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="navbar">
    <nav id="navbar">
        <h1 id="company-name">Deckforge</h1>
        <nav class="nav-links">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/decks"> Mine Decks</a>
            <a class="nav-link" href="/collection">Samling</a>
            <a class="nav-link" href="/profile">Profil</a>
            <p> | </p>
            <a th:if="${session.userId == null}" id="login-button" href="/login">Log ind</a>
            <a th:if="${session.userId != null}" id="logout-button" href="/logout">Log ud</a>
        </nav>
        <button id="hamburger" onclick="document.querySelector('.nav-links').classList.toggle('open')">
            &#9776;
        </button>
    </nav>
</header>

</body>
</html>