<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Samling | Deckforge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <main>
        <h1>Min Samling</h1>

        <div class="toolbar">


            <!-- Sortering -->


            <!-- Filter -->
            <form action="/collection" method="get" class="filters">
                <select name="colors" id="colors">
                    <option value="" disabled selected>Filter Colors</option>
                    <option th:each="color : ${manaColor}"
                            th:value="${color}"
                            th:text="${color.name}">
                    </option>
                </select>
                <button type="submit" class="btn">Filter</button>
            </form>

            <!-- Search -->
            <form action="/collection" method="get" class="search-bar">
                <input type="search" name="search" id="search" placeholder="Søg efter kort">
                <button type="submit" class="btn">Søg</button>
            </form>

            <!-- Add Card - Button (a-tag link) -->
            <a th:href="@{/collection/{collectionId}/add-cards(collectionId=${collectionId})}" class="btn">Tilføj kort</a>
        </div>

        <div class="card-grid">
            <div th:each="card : ${collection}" class="card">
                <img th:src="${card.imageUrl}" alt="card image">
            </div>
        </div>
    </main>
</body>
</html>