<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil | Deckforge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}" >
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>

    <main>
        <nav class="actions">
            <a class="btn" herf="/profile/edit"><button type="button">opdater profil</button></a>

            <form class="button" th:action="@{/profile/delete}" method="post"
                  onsubmit="return confirm('Are you sure you want to delete this user?')">
                <button class="btn btn-danger" type="submit">Slet konto</button>
            </form>
        </nav>

        <img th:src="@{'/images/' +${user.image}}" alt="user image" width="100">
         <section class="profile">
             <h2>Profile Details</h2>
             <div class="profile-info">
                 <p>Name: <span th:text="${user.firstName}"></span></p>
                 <p>Last name:<span th:text="${user.lastName}"></span></p>
                 <p>Username:<span th:text="${user.username}"></span></p>
             </div>
         </section>

        <h2>Din samling</h2>
        <div class="collection-grid">
            <div th:each="card : ${collection}" class="card">
                <img th:src="@{'/images/' +${card.image}}" alt="card image" width="100">
            </div>
        </div>

        <div th:if="${deck != null}">
        <h1 th:text="${deck.deckName}"></h1>
            <p>Format:<span th:text="${deck.format}"></span></p>
        </div>

        <h2>Cards in this deck</h2>
        <div th:each="card : ${cards}">
            <div class="card">
                <img th:src="@{'/images/' +${card.image}}" alt="card image" width="100">
            </div>
        </div>

        <h2> your Favorite Cards</h2>
        <div th:each="card : ${collection}">
            <img th:src="@{'/images/' +${card.image}}" alt="card image" width="100">

            <form action="/collection/favorites/delete" method="post">
                <input type="hidden" name="cardId" th:value="${card.id}">
                <button>favorite</button>
            </form>
        </div>
        <div th:each="card : ${favorites}">
            <img th:src="@{'/images/' +${card.image}}" alt="card image" width="100">
            <form action="/collection/favorites/delete" method="post">
                <input type="hidden" name="cardId" th:value="${card.id}">
                <button>remove</button>
            </form>
        </div>
    </main>
</body>
</html>