<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profil | Deckforge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}" >
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>

    <main class="profile-layout">
        <section class="profile-panel">
            <h2>Profil</h2>

            <div class="profile-info">
                <p>Name: <span th:text="${user.firstName}"></span></p>
                <p>Last name: <span th:text="${user.lastName}"></span></p>
                <p>Username: <span th:text="${user.username}"></span></p>
            </div>
            <div class="profile-actions">
                <a href="/profile/update" class="btn btn-edit">Opdater profil</a>

                <form th:action="@{/profile/delete/{id}(id=${session.userId})}" method="post"
                      onsubmit="return confirm('Er du sikker på du vil slette denne bruger?')">
                    <button class="btn btn-delete" type="submit">Slet konto!</button>
                </form>
            </div>
        </section>

        <section class="admin-content" th:if="${!user.isNotAdmin()}">
            <h2>Admin controls</h2>
            <a href="/cards/create" class="btn btn-edit">Opret nyt kort</a>
            <a href="/collection/add-cards" class="btn btn-edit">Slet Kort</a>
            <a href="/collection/add-cards" class="btn btn-edit">Opdater kort</a>
        </section>
    </main>
</body>
</html>