<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>

    <h1> Opdater din profil</h1>

    <form class="update-user-form" th:object="${user}" method="post" th:action="@{/profile/update}">
        <input type="hidden" name="id" th:value="*{user.id}">
        <div class="input-field">
            <label for="name">Navn:</label>
            <input type="text" th:field="*{user.username}" id="name" placeholder="Intast navn...">
        </div>

        <div class="input-field">
            <label for="email">Email:</label>
            <input type="text" th:field="*{user.email}" id="email" placeholder="Intast email...">
        </div>


        <div class="input-field">
            <label for="password">Nye Adgangskode:</label>
            <input type="password" name="password" id="password" placeholder="Intast nye Adgangskode...">
        </div>
        <div class="input-field">
            <label for="confirmPassword">Gentag Adgangskode:</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Gentag Adgangskode...">
        </div>

        <div class="form-actions">
            <a href="/profile"><button class="btn" type="button">Gå tilbage</button></a>
            <button class="btn" type="submit">Opdater</button>
        </div>

        <p th:if="${error}" th:text="${error}" style="color:red;"></p>
    </form>

</body>
</html>