<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deck | Deckforge</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <!-- Navbar (fragment) -->
    <main>
        <section class="deck-info">
            <h1 th:text="${deck.deckName}"></h1>
            <p th:text="${deck.format}"></p>
        </section>

        <section class="deck-actionbar">
            <h2>Deck</h2>
            <div>
                <a th:href="@{/decks/{deckId}/add-cards(deckId=${deck.id})}" class="btn">Tilføj Kort</a>
                <button class="btn" onclick="document.getElementById('updateDeckModal').showModal()">Opdater Deck</button>
                <a th:href="@{/decks/{deckId}/delete(deckId=${deck.id})}" onclick="return confirm('Er du sikker på, at du vil slette dette deck?')"
                   class="btn btn-danger">Slet Deck</a>
            </div>
        </section>

        <dialog id="updateDeckModal">
            <button onclick="document.getElementById('updateDeckModal').close();
            document.getElementById('updateDeckModal').querySelector('form').reset();" >&times;</button>
            <h2>Opdater Deck</h2>

            <form th:action="@{/decks/{deckId}/update(deckId=${deck.id})}" method="post" class="deck-form">
                <input type="text" name="deckName" th:value="${deck.deckName}" required>
                <select name="format" required>
                    <option value="" disabled selected>Select Format</option>
                    <option th:each="format : ${formatList}"
                            th:value="${format}"
                            th:text="${format.name}"
                            th:selected="${format == deck.format}">
                    </option>
                </select>
                <div class="modal-actions">
                    <button onclick="document.getElementById('updateDeckModal').close();
                    document.getElementById('updateDeckModal').querySelector('form').reset();" class="btn">Annuller</button>
                    <button type="submit" class="btn">Opdater Deck</button>
                </div>
            </form>
        </dialog>

        <section class="card-grid">
            <article th:each="deckCard : ${deckCards}" class="card">
                <img th:src="${deckCard.imageUrl}" alt="Card Image">
                <div class="card-overlay">
                    <form th:action="@{/decks/{deckId}/remove-card(deckId=${deck.id})}" method="post">
                        <input type="hidden" name="cardId" th:value="${deckCard.id}">
                        <button type="submit" class="btn btn-danger">Fjern Kort</button>
                    </form>
                </div>
            </article>
        </section>
    </main>
</body>
</html>