<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Decks | Deckforge</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <main>
        <h1>Mine Decks</h1>
        <section class="decks-actionbar">
            <button class="btn" onclick="document.getElementById('newDeckModal').showModal()">Tilføj Deck</button>
        </section>

        <dialog th:replace="~{fragments/deckFormModal :: deckFormModal ('newDeckModal', 'Tilføj nyt Deck',
            @{/decks/add}, 'Opret Deck', null, null, ${formatList})}"></dialog>

        <section class="deck-grid">
            <article th:each="deck : ${decks}" class="card">
                <div class="deck-card-body">
                    <h2 th:text="${deck.deckName}"></h2>
                    <p th:text="${deck.format}"></p>
                    <span>Card number</span>
                    <a th:href="@{/decks/{id}(id=${deck.id})}" class="card-link"></a>
                </div>
            </article>
        </section>
    </main>
</body>
</html>