<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error | Deckforge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <main>
        <h1>Ups, der skete en fejl!</h1>
        <p th:text="${errorMessage}"></p>
        <a onclick="history.back()" class="btn" id="error-btn">Tilbage</a>
    </main>
</body>
</html>