<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login | Deckforge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="auth-page">
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <main id="login-screen">
        <h1>Login</h1>

        <form th:object="${user}" method="post" th:action="@{/login}">
            <div class="input-field">
                <label for="username">Brugernavn:</label>
                <input type="text" th:field="*{username}" id="username" placeholder="Intast brugernavn...">
            </div>

            <div class="input-field">
                <label for="password">Adgangskode:</label>
                <input type="password" th:field="*{password}" id="password" placeholder="Intast adgangskode...">
            </div>

            <div class="button-field">
                <a href="/register" class="btn" id="sign-up">Tilmeld</a>
                <button type="submit" class="btn" id="login">Login</button>
            </div>

            <p th:if="${error}" th:text="${error}"></p>
        </form>
    </main>
</body>
</html>