<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login | Deckforge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="auth-page">
    <div id="login-screen">
        <header th:replace="~{fragments/navbar :: navbar}"></header>

        <h1>Login</h1>

        <form th:object="${user}" method="post" th:action="@{/login}">
            <div class="input-field">
                <label for="username">username:</label>
                <input type="text" th:field="*{username}" id="username" placeholder="Intast brugernavn...">
            </div>

            <div class="input-field">
                <label for="password">Password:</label>
                <input type="password" th:field="*{password}" id="password" placeholder="Intast Adgangskode...">
            </div>

            <div class="button-field">
                <a href="/register"><button type="button" id="signup">Tilmeld</button></a>
                <button type="submit" id="login">Login</button>
            </div>

            <p th:if="${error}" th:text="${error}" style="color:red;"></p>
        </form>
    </div>
</body>
</html>