<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | Deckforge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="auth-page">
    <div id="signup-screen">
        <header th:replace="~{fragments/navbar :: navbar}"></header>
        <h1>Sign Up</h1>

        <form th:object="${user}" method="post" th:action="@{/register}">
            <div class="input-field">
                <label for="firstName">firstname</label>
                <input type="text" th:field="*{firstName}" id="firstName" placeholder="Intast firstname...">
            </div>

            <div class="input-field">
                <label for="lastName">lastname</label>
                <input type="text" th:field="*{lastName}" id="lastName" placeholder="Intast lastname...">
            </div>

            <div class="input-field">
                <label for="username">Navn:</label>
                <input type="text" th:field="*{username}" id="username" placeholder="Intast brugernavn...">
            </div>

            <div class="input-field">
                <label for="email">Email:</label>
                <input type="email" th:field="*{email}" id="email" placeholder="Intast email...">
            </div>

            <div class="input-field">
                <label for="password">Adgangskode:</label>
                <input type="password" th:field="*{password}" id="password" placeholder="Intast Adgangskode...">
            </div>

            <div class="button-field">
                <button type="submit" id="signup">Tilmeld</button>
                <a href="/login"><button type="button" id="login">Tilbage til login</button></a>
            </div>

            <p th:if="${error}" th:text="${error}" style="color:red;"></p>
        </form>
    </div>
</body>
</html>