<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | Deckforge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="auth-page">
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <main id="signup-screen">
        <h1>Opret Konto</h1>

        <form th:object="${user}" method="post" th:action="@{/register}">
            <div class="input-field">
                <label for="firstName">Fornavn:</label>
                <input type="text" th:field="*{firstName}" id="firstName" placeholder="Intast fornavn...">
            </div>

            <div class="input-field">
                <label for="lastName">Efternavn:</label>
                <input type="text" th:field="*{lastName}" id="lastName" placeholder="Intast efternavn...">
            </div>

            <div class="input-field">
                <label for="username">Brugernavn:</label>
                <input type="text" th:field="*{username}" id="username" placeholder="Intast brugernavn...">
            </div>

            <div class="input-field">
                <label for="email">Email:</label>
                <input type="email" th:field="*{email}" id="email" placeholder="Intast email...">
            </div>

            <div class="input-field">
                <label for="password">Adgangskode:</label>
                <input type="password" th:field="*{password}" id="password" placeholder="Intast adgangskode...">
            </div>

            <div class="button-field">
                <a href="/login" class="btn" id="login">Tilbage til login</a>
                <button type="submit" class="btn" id="signup">Tilmeld</button>
            </div>

            <p th:if="${error}" th:text="${error}"></p>
        </form>
    </main>
</body>
</html>